@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@font-face {
    font-family: "remingtoned-type";
    src: url("../font/remingtoned-type-font/Remingtoned-Type.ttf") format("woff2");
}

body {
    font-family: "remingtoned-type", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
    color: #182e6a;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "remingtoned-type", sans-serif;
    font-weight: bold;
    color: #f1740e;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 10vw;
}

header p {
    font-size: 1.2rem;
}

@media (max-width: 500px) {
    header p {
        font-size: 16px;
    }
}

p {
    font-size: 16px;
}

header .dark-mode {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
}

header button {
    background-color: #182e6a;
    color: white;
    border: none;
    border-radius: 2em;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 10px;
}

header button:hover {
    background-color: #091f5e;
}

.container {
    width: 80%;
    margin: auto;
}

.playground {
    margin: auto;
}

.playground h2 {
    margin-bottom: 20px;
}

.playground .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 550px) {
    .playground .top {
        display: block;
        justify-content: center;
    }
    .playground .top h2 {
        text-align: center;
    }
    .playground .top .ide-buttons {
        display: flex;
        justify-content: space-around;
    }
}

.playground .top .ide-buttons button {
    background-color: #182e6a;
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 10px;
}

.playground .top .ide-buttons button:hover {
    background-color: #091f5e;
}

#editor {
    width: calc(100% - 20px);
    height: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px 20px 20px 0px;
    background-color: #1e1e1e;
}

.documentation {
    margin: auto;
    margin-top: 100px;
}

.playground .output {
    background-color: #1e1e1e;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
}

.playground .output pre {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.documentation .doc-blocks {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}

.documentation .doc-block {
    padding: 15px 0px;
    border-top: 3px solid white;
    margin-top: 15px;
}

.documentation h2 {
    text-align: left;
    margin-bottom: 20px;
}

.documentation .doc-block h3 {
    margin: 10px 0px;
}

.documentation .doc-block p {
    margin: 10px 0px;
    height: 80px;
}

.code-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.copy-code {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-code:hover {
    background-color: #e0e0e0;
}

.copy-code i {
    font-size: 16px;
    color: #1e1e1e;
}

.documentation .doc-block pre {
    background-color: rgb(48, 48, 48);
    height: 200px;
    color: #e6e6e6;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    overflow: hidden;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.documentation .doc-block pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 640px) {
    .documentation .doc-blocks {
        display: block;
    }
    .documentation .doc-block pre {
        font-size: 12px;
    }
    .documentation .doc-block pre {
        height: auto;
    }
}

footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

footer a {
    color: #d6b600;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 16px;
}